DATABASE_URL=
PORT=
JWT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FRONTEND_URL=
CORS_ORIGINS=

GMAIL_USER=
GMAIL_APP_PASSWORD=
SUPPORT_EMAIL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=whsec_CHANGE_ME